@*<h1>@Model.Name</h1>
<h1>@Model.Address</h1>
<h1>@Model.Level</h1>*@


<h1>Id: @Model.Id</h1>
<h1>Name: @Model.Name</h1>
<h1>Address :@Model.Address</h1>
<h1>Level : @Model.Level</h1>
<img src="~/Images/@Model.Image" style="height: 100px;" />